
body{
  font-family: 'Poppins', sans-serif;
  display: flex; 
  background-color: #c3cfe2;
}

.grid-container{
display: grid;
grid-template-columns: 200px 200px 200px;
grid-gap:20px;
position: relative;
}

.grid-item{
width:200px;
height:200px;
position: relative;
}

.wrapper{
width: 100%;
height: auto;
margin: 0 auto;
position: relative;
}

.img{
    display:block;
    width:100%;
    border-radius: 10px 10px 10px 10px;
}
    
.btn{
background-color: #686de0;
font-family: Arial, Helvetica, sans-serif;
color: white;
font-size: 14px;
text-align: center;
padding: 8px 25px;
position: absolute;
margin: 95px 95px;
border-radius: 10px 10px 10px 10px;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
}

.btn span{
    display: block
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .8s ease;
    background-color: #a09e9c;
    border-radius: 10px 10px 10px 10px;

}

.wrapper:hover .overlay{
    opacity:1
}

